@page "/login"

<h3>Login</h3>

<EditForm Model="loginUser" OnValidSubmit="LoginUser">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <InputText id="email"
                   class="form-control"
                   @bind-Value="loginUser.Email" />
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <InputText id="password"
                   type="password"
                   class="form-control"
                   @bind-Value="loginUser.Password" />
    </div>

    <button type="submit" class="btn btn-primary">
        Login
    </button>
</EditForm>
